/** Program Description:
    Program Name: Minimalist Screen Sleeper
    Version: 1.5
    Developer: Raymel Francisco
    Development:  Monday, March 30, 2015 
              4:43 PM to 7:00 PM
              8:52 PM to 9:57 PM
              11:15 PM to 12:01 AM
            Tuesday, March 31, 2015
              10:56 AM
          
    Written in: C, Windows Resoucrce Script, Vala
    Compiler Used: GNU GCC 3.4.5 (MinGW Special)
    Text editor: Sublime Text 2 (2.0.2 build 2221)

    File details:
    Name: min_screen_sleeper_rc_1.5.c
    Use in the project: Resource script, for exe file's version info and icon details
**/

id ICON "min_screen_sleeper_icon_1.5.ico"
1 VERSIONINFO
FILEVERSION     1,5,0,0
PRODUCTVERSION  1,5,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileDescription", "Saves energy by simply turning off your screen."
      VALUE "FileVersion", "1.5"
      VALUE "InternalName", "min_screen_sleeper"
      VALUE "LegalCopyright", "© 2015 by Raymel Francisco"
      VALUE "OriginalFilename", "minScreenSleeper.exe"
      VALUE "ProductName", "Minimalist Screen Sleeper"
      VALUE "ProductVersion", "1.5"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
